
.gridContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 300px; 
    max-width: 100%; 
    background: #D9D9D9;
    border-radius: 15px;
    gap: 1rem;
    box-shadow: 0px 0px 4px 2px #00000040 inset;
    padding: 1rem;
    position: relative; 
  }
  
  .grid-item {
    background: #00407A;
    border-radius: 15px;
   
    padding-bottom: 100%;
  }
  
  
  @media (min-width: 768px) and (max-width: 1023px) {
    .gridContainer {
      width: 49.5%; 
    }
  }