.wrapper{
    font-family: 'Source Code Pro', monospace;
}
.name{
   
    opacity: 0;
    
    animation: appear 1s forwards;

}
.reg{
    animation-name: appear;
    animation-duration: 1.2s;
    opacity: 0;
    animation-fill-mode: forwards;

}
button{
    animation-name: appear2;
    animation-duration: 1.2s;
    opacity: 0;
    animation-fill-mode: forwards;

}
button{
    font-size: large;
}
@keyframes appear{
    from{
        transform: translateY(-100%);
        opacity: 0;
    }
    to{
        transform: translateY(0%);
       opacity: 1;
    }
}
@keyframes appear2{
    from{
        transform: translateY(100%);
        opacity: 0;
    }
    to{
        transform: translateY(0%);
       opacity: 1;
    }
}
@media(max-width:1023px){
    .cont{
        flex-direction: column;
    }

}
@media(max-width:768px){
    .name,.reg{
        font-size:medium;
    }
    button{
        font-size:small;
    }
    image{
        height:50vh;
    }
}